<script setup lang="ts">
import type { IHallway } from '../types'

defineProps<{
  hallway?: IHallway
}>()
defineEmits([])
</script>

<template>
  <template v-if="hallway">
    <div class="hallway-infos">
      <h3>
        {{ hallway?.toOtherLevel ? 'Escalator:' : 'Corridor:' }}
      </h3>
      <div>
        <div>
          <span class="catTitle">{{ $t('menus.Event') }}:</span>
          {{ $t('events.' + hallway?.eventNumber) }}
        </div>
      </div>
    </div>
  </template>
</template>

<style scoped>
.hallway-infos {
  margin-top: 30px;
  .catTitle {
    color: var(--main-accent-color);
    text-decoration: underline;
  }
}
</style>
