<script setup lang="ts">
import type { IGameState, IhallwayPositionsMap } from '../types'
let hallwayPositionsMap: IhallwayPositionsMap = {
  n: 's',
  s: 'n',
  se: 'nw',
  sw: 'ne',
  ne: 'sw',
  nw: 'se'
}

const props = defineProps<{
  gamestate: IGameState
  isPlayerscreen: boolean
}>()

defineEmits(['visitHallway', 'displayShop', 'displayHallway'])
</script>

<template>
  <template v-if="gamestate.insideSpecialLevel">
    <template
      v-for="specialLevels in [
        gamestate?.specialLevels.find((spLs) => spLs.id === gamestate?.currentSpecialLevelsId)
      ]"
      :key="specialLevels.id"
    >
      <template
        v-for="specialLevel in [specialLevels?.levels[gamestate?.currentSpecialLevelIndex]]"
        :key="specialLevel"
      >
        <h1 class="titleText">
          {{
            specialLevel?.isUpper
              ? $t('upperLevels.' + specialLevel?.typeNumber + '.name')
              : $t('lowerLevels.' + specialLevel?.typeNumber + '.name')
          }}
        </h1>
      </template>
    </template>
  </template>
  <template v-else>
    <div
      class="square"
      v-for="square in [
        gamestate?.squares.find((square) => square.id === gamestate?.currentSquareId)
      ]"
      :key="square?.id"
    >
      <template v-for="shopid in square?.shops" :key="shopid">
        <div
          v-for="shop in [gamestate?.shops.find((shop) => shop.id === shopid)]"
          :key="shop?.id"
          :class="'shop ' + shop?.position"
          @click="!props.isPlayerscreen ? $emit('displayShop', shopid) : ''"
        >
          <span
            :class="
              'shopname ' + (!props.isPlayerscreen || $props.gamestate.wallMode ? 'inverted' : '')
            "
          >
            {{ $t('shopNames.' + shop?.shopNumber) }}
          </span>
        </div>
      </template>
      <div class="wall nw"></div>
      <div class="wall ne"></div>
      <div class="wall sw"></div>
      <div class="wall se"></div>
      <div class="wall e"></div>
      <div class="wall w"></div>

      <template v-for="hallwayId in square?.hallways" :key="hallwayId">
        <div
          v-for="hallway in [gamestate?.hallways.find((hallway) => hallway.id === hallwayId)]"
          :key="hallway?.id"
          :class="
            'hallway ' +
            (hallway?.squareIds[0] === gamestate?.currentSquareId
              ? hallway?.direction +
                (hallway?.toOtherLevel ? (hallway?.goesUp ? ' goesUp' : ' goesDown') : ' ')
              : hallwayPositionsMap[hallway?.direction || ''] +
                (hallway?.toOtherLevel ? (hallway?.goesUp ? ' goesDown' : ' goesUp') : ' '))
          "
          @click="!props.isPlayerscreen ? $emit('visitHallway', hallwayId) : ''"
          @mouseover="!props.isPlayerscreen ? $emit('displayHallway', hallwayId) : ''"
        ></div>
      </template>
    </div>
  </template>
</template>

<style scoped>
.titleText {
  color: var(--main-accent-color);
  filter: drop-shadow(7px 5px 17px #95a724);
}

.square {
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop {
  position: absolute;
  width: 200px;
  height: 40px;
  border: 3px solid var(--main-accent-color);
  border-bottom: 10px solid var(--main-accent-color);
  display: flex;
  justify-content: center;
  &:hover {
    box-shadow: 5px 5px 40px 5px var(--main-accent-color);
    cursor: pointer;
  }
}
.sw,
.se {
  .shopname.inverted {
    transform: rotate(180deg);
  }
}
.wall {
  position: absolute;
  width: 215px;
  height: 40px;
  border-bottom: 10px solid var(--main-accent-color);
  pointer-events: none;
}

.ne {
  transform: translate(98px, -171px) rotate(30deg);
}
.nw {
  transform: translate(-98px, -171px) rotate(-30deg);
}
.se {
  transform: translate(98px, 171px) rotate(150deg);
}
.sw {
  transform: translate(-98px, 171px) rotate(-150deg);
}
.e {
  transform: rotate(90deg) translateY(-196px);
}
.w {
  transform: rotate(-90deg) translateY(-196px);
}

.hallway {
  position: absolute;
  height: 120px;
  width: 0;
  border-left: 10px dotted var(--main-accent-color);
  &:hover {
    box-shadow: 5px 5px 40px 5px var(--main-accent-color);
    cursor: pointer;
  }
  &.goesUp {
    border-left: 10px dotted var(--main-complementary-color);
  }
  &.goesDown {
    border-left: 10px dotted var(--secondary-complementary-color);
  }
}

.hallway.n {
  transform: translateY(-280px);
}
.hallway.s {
  transform: translateY(280px);
}
.hallway.sw {
  transform: rotate(60deg) translateY(280px);
}
.hallway.se {
  transform: rotate(-60deg) translateY(280px);
}
.hallway.nw {
  transform: rotate(-60deg) translateY(-280px);
}
.hallway.ne {
  transform: rotate(60deg) translateY(-280px);
}
</style>
