<script setup lang="ts">
import type { IShop } from '../types'

defineProps<{
  shop?: IShop
}>()
defineEmits([])
</script>

<template>
  <template v-if="shop">
    <div class="shopInfos">
      <h2>{{ $t('shopNames.' + shop?.shopNumber) }}</h2>
      <div class="info">{{ $t('shopDescriptions.' + shop?.shopNumber) }}</div>
      <div class="info strange">{{ $t('menus.StrangeLevel') }}: {{ shop?.strangeLevel }}</div>
      <div class="info">
        {{ $t('shopStrangeDescriptions.' + shop?.shopNumber + '.' + shop?.strangeLevel) }}
      </div>
      <div class="info">
        <span class="catTitle">{{ $t('menus.Npc') }}:</span>
        {{ $t('shopNpcs.' + shop?.shopNumber + '.' + shop?.npcNumber) }}
      </div>
      <div class="info">
        <span class="catTitle">{{ $t('menus.StrangeObject') }}:</span>
        {{ $t('shopStrangeObjects.' + shop?.shopNumber + '.' + shop?.objectNumber) }}
      </div>
      <div class="info">
        <span class="catTitle">{{ $t('menus.GenericDetail') }}:</span>
        {{ $t('shopDetails.' + shop?.detailNumber) }}
      </div>
    </div>
  </template>
</template>

<style scoped>
.shopInfos {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 80vh;
  padding-right: 10px;
}

.info {
  margin-top: 10px;
}
.strange,
h2 {
  color: var(--main-accent-color);
}
.catTitle {
  color: var(--main-accent-color);
  text-decoration: underline;
}
</style>
