<script setup lang="ts">
import type { IGameState } from '../types'

defineProps<{
  gamestate: IGameState
}>()
defineEmits(['exitSpecialLevel', 'previousSpecialLevel', 'nextSpecialLevel'])
</script>

<template>
  <div class="infos">
    <template
      v-for="specialLevels in [
        gamestate?.specialLevels.find((spLs) => spLs.id === gamestate?.currentSpecialLevelsId)
      ]"
      :key="specialLevels.id"
    >
      <template
        v-for="specialLevel in [specialLevels?.levels[gamestate?.currentSpecialLevelIndex]]"
        :key="specialLevel"
      >
        <template
          v-for="levelInfos in [
            specialLevel?.isUpper
              ? `upperLevels.${specialLevel?.typeNumber}.`
              : `lowerLevels.${specialLevel?.typeNumber}.`
          ]"
          :key="levelInfos"
        >
          <h2>
            {{ $t(levelInfos + 'name') }}
          </h2>
          <div v-if="specialLevels?.levels[gamestate.currentSpecialLevelIndex].hasExit">
            {{ $t('menus.ProtectedRealWorldExit') }}
          </div>
          <div class="navButtons">
            <button
              :disabled="!(gamestate.currentSpecialLevelIndex > 0)"
              @click="$emit('previousSpecialLevel')"
            >
              {{ $t('menus.PreviousLevel') }}
            </button>
            <button
              :disabled="specialLevels?.levels[gamestate.currentSpecialLevelIndex].hasExit"
              @click="$emit('nextSpecialLevel')"
            >
              {{ $t('menus.NextLevel') }}
            </button>
            <button
              :disabled="!specialLevels?.levels[gamestate.currentSpecialLevelIndex].hasMallAccess"
              @click="$emit('exitSpecialLevel')"
            >
              {{ $t('menus.BackToMall') }}
            </button>
          </div>
          <div>
            <span> {{ $t(levelInfos + 'description') }}</span>
          </div>
          <div>
            <span class="catTitle"
              >{{ $t('menus.StrangeLevel') }} {{ specialLevel?.strangeLevel + ':' }}</span
            ><span>
              {{ ' ' + $t(levelInfos + 'strangeLevels.' + specialLevel?.strangeLevel) }}</span
            >
          </div>
          <div>
            <span class="catTitle">{{ $t('menus.Npc') }}:</span
            ><span> {{ ' ' + $t(levelInfos + 'npcs.' + specialLevel?.npcNumber) }}</span>
          </div>
          <div>
            <span class="catTitle">{{ $t('menus.StrangeObject') }}:</span
            ><span>
              {{
                ' ' + $t(levelInfos + 'strangeObject.' + specialLevel?.strangeObjectNumber)
              }}</span
            >
          </div>
          <br />
          <div>
            <span class="catTitle">{{ $t('menus.EventCountToMoveOn') }}:</span
            ><span> {{ ' ' + specialLevel?.eventsCount }}</span>
          </div>
          <ul>
            <li v-for="evt in specialLevel?.eventsCount" :key="evt">{{ $t('events.' + evt) }}</li>
          </ul>
        </template>
      </template>
    </template>
  </div>
</template>

<style scoped>
.infos {
  margin-top: 10px;
  .catTitle {
    color: var(--main-accent-color);
    text-decoration: underline;
  }
}
h2 {
  color: var(--main-accent-color);
}
.navButtons {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}
</style>
