<script setup lang="ts">
import type { IGameState } from '../types'
defineProps<{
  gamestate?: IGameState
}>()
defineEmits(['visitSpecialLevel'])
</script>

<template>
  <div class="square-infos">
    <template
      v-for="square in [
        gamestate?.squares.find((square) => square.id === gamestate?.currentSquareId)
      ]"
      :key="square?.id"
    >
      <template v-if="square?.id !== 0">
        <h3>{{ $t('menus.Square') }}:</h3>
        <div>
          <span class="catTitle">{{ $t('menus.StrangeLevel') }}:</span> {{ square?.strangeLevel }}
        </div>
        <div>
          <span class="catTitle">{{ $t('menus.Detail') }}:</span>
          <template v-if="square?.strangeLevel === 1 && gamestate?.heartFound">
            {{ $t('menus.RealWorlExit') }}</template
          >
          <template v-else
            >{{ $t('squareDetails.' + square?.squareDetailNumber) }}
            <a @click="$emit('visitSpecialLevel')" v-if="square?.squareDetailNumber === 3">{{
              $t('menus.VisitSpecialLevel')
            }}</a></template
          >
        </div>
        <div>
          <span class="catTitle">{{ $t('menus.Event') }}:</span>
          {{ $t('events.' + square?.eventNumber) }}
        </div></template
      >
      <template v-if="square?.id === 0"
        ><h2>{{ $t('menus.HeartOfTheMall') }}</h2></template
      >
    </template>
  </div>
</template>

<style scoped>
.square-infos {
  margin-top: 30px;
  .catTitle {
    color: var(--main-accent-color);
    text-decoration: underline;
  }
}
h2 {
  color: var(--main-accent-color);
}
</style>
