<script setup lang="ts">
import type { IGameState } from '../types'
const props = defineProps<{
  gamestate: IGameState
  displayShopMode: string
}>()

const emit = defineEmits([
  'rollStrangeObject',
  'rollEncounter',
  'rollTheme',
  'rollFaction',
  'rollFriendClue'
])
</script>

<template>
  <div class="buttons">
    <button @click="$emit('rollStrangeObject')">{{ $t('menus.Object') }}</button>
    <button @click="$emit('rollEncounter')">{{ $t('menus.Encounter') }}</button>
    <button @click="$emit('rollTheme')">{{ $t('menus.Theme') }}</button>
    <button @click="$emit('rollFaction')">{{ $t('menus.Faction') }}</button>
    <button @click="$emit('rollFriendClue')">{{ $t('menus.Clue') }}</button>
  </div>
  <div v-if="displayShopMode !== 'shop'" class="rollInfos">
    <div v-if="displayShopMode === 'strangeObject'">
      <h2>{{ $t('menus.StrangeObject') }}</h2>
      <span>{{ $t('strangeObjects.' + gamestate.strangeObjectNumber) }}</span>
    </div>
    <div v-if="displayShopMode === 'encounter'">
      <h2>{{ $t('menus.Encounter') }}</h2>
      <span>{{ $t('encounters.' + gamestate.encounterNumber) }}</span>
    </div>
    <div v-if="displayShopMode === 'theme'">
      <h2>{{ $t('menus.Theme') }}</h2>
      <span>{{ $t('themes.' + gamestate.themeNumber) }}</span>
    </div>
    <div v-if="displayShopMode === 'faction'">
      <h2>{{ $t('factions.' + gamestate.factionNumber + '.name') }}</h2>
      <div class="cat">
        <span class="catContent">
          {{ ' ' + $t('factions.' + gamestate.factionNumber + '.description') }}</span
        >
      </div>
      <div class="cat">
        <span class="catTitle">{{ $t('menus.Want') }}:</span
        ><span class="catContent">
          {{ ' ' + $t('factions.' + gamestate.factionNumber + '.likes') }}</span
        >
      </div>
      <div class="cat">
        <span class="catTitle">{{ $t('menus.Upset') }}:</span
        ><span class="catContent">
          {{ ' ' + $t('factions.' + gamestate.factionNumber + '.dislikes') }}</span
        >
      </div>
      <div class="cat">
        <span class="catTitle">{{ $t('menus.Npc') }}:</span
        ><span class="catContent">
          {{
            ' ' + $t('factions.' + gamestate.factionNumber + '.npcs.' + gamestate.factionNpc)
          }}</span
        >
      </div>
    </div>
    <div v-if="displayShopMode === 'friendClue'">
      <h2>{{ $t('menus.Clue') }}</h2>
      <span v-if="gamestate.friendClue">{{ $t('menus.RealClue') }}</span>
      <span v-if="!gamestate.friendClue">{{ $t('friendClues.' + gamestate.fakeFriendClue) }}</span>
    </div>
  </div>
</template>

<style scoped>
button {
  margin: 5px 5px 5px 0;
}
h2 {
  color: var(--main-accent-color);
}
.catTitle {
  color: var(--main-accent-color);
  text-decoration: underline;
}
.rollInfos {
  overflow-y: auto;
  height: 85vh;
  padding-right: 10px;
}
</style>
