@import './base.css';

#app {
  padding: 2rem;
  font-weight: normal;
  height: 100vh;
}

a,
.green {
  background-color: var(--vt-c-black-mute);
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  text-decoration: none;
  color: var(--main-accent-color);
  border: none;
  transition: 0.4s;
  &:hover {
    box-shadow: 5px 5px 40px 5px var(--main-accent-color);
    cursor: pointer;
  }
}

button {
  background-color: var(--vt-c-black-mute);
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  color: var(--main-accent-color);
  
  border: none;
  transition: 0.4s;
  &:hover {
    &:not(:disabled){
      box-shadow: 5px 5px 40px 5px var(--main-accent-color);
      cursor: pointer;
    }
  }
  &:disabled{
    color:gray;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--vt-c-black-mute);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--vt-c-black-mute);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--main-accent-color);
}
