<script setup lang="ts">
import { ref, type Ref } from 'vue'
import MapDisplay from './components/MapDisplay.vue'
import ShopInfos from './components/ShopInfos.vue'
import SquareInfos from './components/SquareInfos.vue'
import HallwayInfos from './components/HallwayInfos.vue'
import ToolsButtons from './components/ToolsButtons.vue'
import SpecialLevelInfos from './components/SpecialLevelInfos.vue'

import type {
  IGameState,
  IhallwayPositionsMap,
  IHallway,
  IShop,
  ISpecialLevels,
  ISpecialLevel
} from './types'

let defaultgamestate: IGameState = {
  squareId: 0,
  hallwayId: 0,
  shopId: 0,
  specialLevelsId: 0,
  shops: [],
  squares: [],
  hallways: [],
  currentSquareId: 0,
  strangeObjectNumber: roll2D6(),
  encounterNumber: roll2D6(),
  factionNumber: roll1D6(),
  factionNpc: roll1D6(),
  themeNumber: roll1D6(),
  fakeFriendClue: roll1D6(),
  friendClue: roll1D6() > 4,
  displayTitleScreen: true,
  wallMode: false,
  heartFound: false,
  insideSpecialLevel: false,
  specialLevels: [],
  currentSpecialLevelsId: 0,
  currentSpecialLevelIndex: 0
}
let gamestate = ref(defaultgamestate)
const isPlayerscreen = ref(false)

let shopPositions = ['ne', 'nw', 'e', 'w', 'se', 'sw']
let hallwayPositions = ['n', 's', 'se', 'sw', 'ne', 'nw']
let hallwayPositionsMap: IhallwayPositionsMap = {
  n: 's',
  s: 'n',
  se: 'nw',
  sw: 'ne',
  ne: 'sw',
  nw: 'se'
}
let displayShopMode: Ref<string> = ref('shop')
let currentlyDisplayedShop: Ref<IShop | undefined> = ref(undefined)
let currentlyDisplayedHallway: Ref<IHallway | undefined> = ref(undefined)
let clickedOnDisplayPlayerScreen: Ref<boolean> = ref(false)

function generateSquare(
  previousStrangeLevel: number,
  hallwayId?: number,
  hallwayDirection?: string
) {
  let id = getSquareId()
  const shopCount = roll1D6()
  const hallwayCount = roll1D6()
  const eventNumber = roll1D6()
  const squareDetailNumber = roll1D6()

  let strangeLevel = previousStrangeLevel
  if (gamestate.value.heartFound && strangeLevel > 1) {
    strangeLevel -= 1
  } else {
    if (roll1D6() > previousStrangeLevel) {
      strangeLevel += 1
    }
  }
  if (strangeLevel === 6) {
    id = 0
    const square = {
      id,
      strangeLevel,
      shopCount: 0,
      hallwayCount: 1,
      squareDetailNumber: 0,
      shops: [],
      hallways: [generateHallway(id, 'n')],
      eventNumber
    }
    gamestate.value.heartFound = true
    gamestate.value.squares = [square]
    gamestate.value.currentSquareId = id
    return id
  }
  const shops: number[] = []
  shuffleArray(shopPositions)
  for (let i = 0; i < shopCount; i++) {
    shops.push(generateShop(shopPositions[i], strangeLevel))
  }
  const hallways = hallwayId ? [hallwayId] : []
  let availableHallwayPositions
  if (hallwayId && hallwayDirection) {
    gamestate.value?.hallways
      .find((hallway?: IHallway) => hallway?.id === hallwayId)
      ?.squareIds.push(id)
    availableHallwayPositions = hallwayPositions.filter(
      (pos) => pos !== hallwayPositionsMap[hallwayDirection]
    )
  } else {
    availableHallwayPositions = hallwayPositions
  }
  shuffleArray(availableHallwayPositions)
  let i = 0
  while (hallways.length < hallwayCount) {
    hallways.push(generateHallway(id, availableHallwayPositions[i]))
    i++
  }
  shuffleArray(hallways)

  const square = {
    id,
    strangeLevel,
    shopCount,
    hallwayCount,
    squareDetailNumber,
    shops,
    hallways,
    eventNumber
  }
  gamestate.value.squares.push(square)
  gamestate.value.currentSquareId = id

  return id
}

function generateShop(position: string, strangeLevel: number): number {
  const currentShopNumber = roll2D6()
  const shopId = getShopId()
  let detailNumber = roll2D6()
  let objectNumber = roll1D6()
  let npcNumber = roll1D6()

  //check for same shops with same strange level
  let sameShopCount = 0
  let sameShop: IShop = gamestate.value.shops[0]
  gamestate.value.shops.forEach((shop) => {
    if (shop.shopNumber === currentShopNumber && strangeLevel == shop.strangeLevel) {
      sameShopCount++
      sameShop = shop
    }
  })
  if (sameShopCount === 1) {
    objectNumber = sameShop.objectNumber
    npcNumber = sameShop.npcNumber
    detailNumber = sameShop.detailNumber
  } else if (sameShopCount > 1) {
    if (strangeLevel < 5) strangeLevel++
  }

  const shop: IShop = {
    shopNumber: currentShopNumber,
    id: shopId,
    detailNumber,
    strangeLevel,
    position,
    objectNumber,
    npcNumber
  }
  gamestate.value.shops.push(shop)
  return shopId
}

function generateHallway(squareId: number, direction: string): number {
  const id = getHallwayId()
  const hallway: IHallway = {
    id,
    squareIds: [squareId],
    direction,
    eventNumber: roll1D6(),
    toOtherLevel: roll1D6() >= 4,
    toSpecialLevel: false,
    goesUp: roll1D6() > 3
  }
  gamestate.value.hallways.push(hallway)
  return id
}

function getSquareId() {
  gamestate.value.squareId += 1
  return gamestate.value.squareId
}

function getHallwayId(): number {
  gamestate.value.hallwayId += 1
  return gamestate.value.hallwayId
}

function getShopId() {
  gamestate.value.shopId += 1
  return gamestate.value.shopId
}

function getSpecialLevelsId() {
  gamestate.value.specialLevelsId += 1
  return gamestate.value.specialLevelsId
}

function roll1D6() {
  return Math.ceil(Math.random() * 6)
}

function roll2D6() {
  const n1 = roll1D6()
  const n2 = roll1D6()
  return Number('' + n1 + n2)
}

function shuffleArray(array: any[]) {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1))
    ;[array[i], array[j]] = [array[j], array[i]]
  }
}

function storeGamestate() {
  console.log('storing game', gamestate.value)
  window.localStorage.setItem('gdm', JSON.stringify(gamestate.value) || '')
}

function visitHallway(hallwayId: number) {
  const hallway = gamestate.value?.hallways.find((hallway) => hallway.id === hallwayId)
  if (hallway?.squareIds.length === 1) {
    const previousSquare = gamestate.value.squares.find(
      (square) => hallway?.squareIds[0] === square.id
    )
    let previousStrangeLevel = previousSquare?.strangeLevel || 0
    previousSquare?.shops.forEach((shopId) => {
      const shopStrangeLevel = gamestate.value.shops.find(
        (shop) => shop.id === shopId
      )?.strangeLevel
      if (shopStrangeLevel && shopStrangeLevel > previousStrangeLevel) {
        previousStrangeLevel = shopStrangeLevel
      }
    })
    generateSquare(previousStrangeLevel || 0, hallway.id, hallway.direction)
  } else {
    if (hallway?.squareIds[0] === gamestate.value.currentSquareId) {
      gamestate.value.currentSquareId = hallway?.squareIds[1]
    } else if (hallway?.squareIds[1] === gamestate.value.currentSquareId) {
      gamestate.value.currentSquareId = hallway?.squareIds[0]
    }
  }
  storeGamestate()
}

function displayShop(shopId: number): void {
  displayShopMode.value = 'shop'
  const shop = gamestate.value.shops.find((shop) => shop.id === shopId)
  if (shop) {
    currentlyDisplayedShop.value = shop
  }
}

function displayHallway(hallwayId: number): void {
  const hallway = gamestate.value.hallways.find((hallway) => hallway.id === hallwayId)
  if (hallway) {
    currentlyDisplayedHallway.value = hallway
  }
}

function rollStrangeObject() {
  if (displayShopMode.value !== 'strangeObject') {
    displayShopMode.value = 'strangeObject'
  } else {
    gamestate.value.strangeObjectNumber = roll2D6()
  }
}
function rollEncounter() {
  if (displayShopMode.value !== 'encounter') {
    displayShopMode.value = 'encounter'
  } else {
    gamestate.value.encounterNumber = roll2D6()
  }
}
function rollTheme() {
  if (displayShopMode.value !== 'theme') {
    displayShopMode.value = 'theme'
  } else {
    gamestate.value.themeNumber = roll1D6()
  }
}
function rollFaction() {
  if (displayShopMode.value !== 'faction') {
    displayShopMode.value = 'faction'
  } else {
    gamestate.value.factionNumber = roll1D6()
    gamestate.value.factionNpc = roll1D6()
  }
}
function rollFriendClue() {
  if (displayShopMode.value !== 'friendClue') {
    displayShopMode.value = 'friendClue'
  } else {
    gamestate.value.friendClue = roll1D6() > 4
    gamestate.value.fakeFriendClue = roll1D6()
  }
}
function toggleDisplayTitle() {
  gamestate.value.displayTitleScreen = !gamestate.value.displayTitleScreen
  storeGamestate()
}

function toggleWallMode() {
  gamestate.value.wallMode = !gamestate.value.wallMode
  storeGamestate()
}

function enterSpecialLevel() {
  if (
    gamestate.value.squares.find((sq) => sq.id === gamestate.value.currentSquareId)?.specialLevelsId
  ) {
    gamestate.value.currentSpecialLevelsId =
      gamestate.value.squares.find((sq) => sq.id === gamestate.value.currentSquareId)
        ?.specialLevelsId || 0
    gamestate.value.currentSpecialLevelIndex = 0
    gamestate.value.insideSpecialLevel = true
  } else {
    let specialLevelsId = getSpecialLevelsId()
    const isUpper = roll1D6() > 3
    const eventsCount = roll1D6()
    let events = []
    for (let index = 0; index < eventsCount; index++) {
      events.push(roll1D6())
    }
    let firstSpecialLevel: ISpecialLevel = {
      eventsCount,
      events,
      hasMallAccess: true,
      isUpper,
      hasExit: false,
      strangeLevel: 1,
      typeNumber: roll1D6(),
      npcNumber: roll1D6(),
      strangeObjectNumber: roll1D6()
    }
    let specialLevels: ISpecialLevels = {
      entrySquareId: gamestate?.value.currentSquareId,
      id: specialLevelsId,
      isUpper,
      levels: [firstSpecialLevel]
    }
    gamestate.value.specialLevels.push(specialLevels)
    if (
      gamestate.value.squares.findIndex((sq) => sq.id == gamestate.value.currentSquareId) !== -1
    ) {
      gamestate.value.squares[
        gamestate.value.squares.findIndex((sq) => sq.id == gamestate.value.currentSquareId)
      ].specialLevelsId = specialLevelsId
    }
    gamestate.value.currentSpecialLevelsId = specialLevelsId
    gamestate.value.currentSpecialLevelIndex = 0
    gamestate.value.insideSpecialLevel = true
  }
  storeGamestate()
}

function exitSpecialLevel() {
  gamestate.value.insideSpecialLevel = false
  if (
    gamestate.value.specialLevels.find((spLs) => spLs.id === gamestate.value.currentSpecialLevelsId)
      ?.entrySquareId
  )
    gamestate.value.currentSquareId =
      gamestate.value.specialLevels.find(
        (spLs) => spLs.id === gamestate.value.currentSpecialLevelsId
      )?.entrySquareId || 0
  storeGamestate()
}

function previousSpecialLevel() {
  if (gamestate.value.currentSpecialLevelIndex > 0) {
    gamestate.value.currentSpecialLevelIndex--
  }
  storeGamestate()
}
function nextSpecialLevel() {
  const currentSpecialLevels = gamestate.value.specialLevels.find(
    (spLs) => spLs.id === gamestate.value.currentSpecialLevelsId
  )
  if ((currentSpecialLevels?.levels.length || 0) - 1 > gamestate.value.currentSpecialLevelIndex) {
    gamestate.value.currentSpecialLevelIndex++
  } else {
    let strangeLevel =
      currentSpecialLevels?.levels[gamestate.value.currentSpecialLevelIndex].strangeLevel || 1
    if (strangeLevel < 6 && roll1D6() > strangeLevel) {
      strangeLevel++
    }
    if (strangeLevel === 6 && currentSpecialLevels) {
      ;(
        gamestate.value.specialLevels.find(
          (spLs) => spLs.id === gamestate.value.currentSpecialLevelsId
        ) || { levels: [] }
      ).levels[gamestate.value.currentSpecialLevelIndex].hasExit = true
    } else {
      const eventsCount = roll1D6()
      let events = []
      for (let index = 0; index < eventsCount; index++) {
        events.push(roll1D6())
      }

      let specialLevel = {
        eventsCount,
        events,
        hasMallAccess: strangeLevel === 1,
        isUpper: currentSpecialLevels?.isUpper || false,
        hasExit: false,
        strangeLevel,
        typeNumber: roll1D6(),
        npcNumber: roll1D6(),
        strangeObjectNumber: roll1D6()
      }
      currentSpecialLevels?.levels.push(specialLevel)
      gamestate.value.currentSpecialLevelIndex++
    }
  }
  storeGamestate()
}

function resetGame() {
  location.reload()
}

if (window.location.href.includes('playerscreen')) {
  isPlayerscreen.value = true
  const gamestatestored = localStorage.getItem('gdm')
  gamestate.value = JSON.parse(gamestatestored || '')
  window.addEventListener('storage', (event) => {
    if (event.storageArea != localStorage) return
    if (event.key === 'gdm') {
      gamestate.value = JSON.parse(event.newValue || '')
    }
  })
  document.title = 'GDM - joueur'
} else {
  generateSquare(0)
}
</script>

<template>
  <main>
    <div class="leftContainer">
      <template v-if="!isPlayerscreen">
        <h1>Green Dawn Mall</h1>
        <a class="gameLink" href="https://comemartin.itch.io/green-dawn-mall-vf" target="_blank">{{
          $t('menus.DiscoverGame')
        }}</a
        ><button class="gameLink" @click="resetGame">{{ $t('menus.ResetGame') }}</button>
        <div class="playerScreenActions">
          <a
            class="openPlayerScreen"
            href="#playerscreen"
            v-on:click="
              () => {
                storeGamestate()
                clickedOnDisplayPlayerScreen = true
              }
            "
            target="_blank"
            >{{ $t('menus.OpenPlayerScreen') }}</a
          ><template v-if="clickedOnDisplayPlayerScreen">
            <button @click="toggleDisplayTitle">
              {{
                gamestate.displayTitleScreen ? $t('menus.DisplayMap') : $t('menus.DiscoverTitle')
              }}
            </button>
            <button @click="toggleWallMode">
              {{ gamestate.wallMode ? $t('menus.WallMode') : $t('menus.TableMode') }}
            </button></template
          >
        </div>
        <div class="gm-infos">
          <template v-if="gamestate.insideSpecialLevel">
            <SpecialLevelInfos
              :gamestate="gamestate"
              @exitSpecialLevel="exitSpecialLevel"
              @nextSpecialLevel="nextSpecialLevel"
              @previousSpecialLevel="previousSpecialLevel"
            />
          </template>
          <template v-else>
            <SquareInfos :gamestate="gamestate" @visitSpecialLevel="enterSpecialLevel" />
            <HallwayInfos :hallway="currentlyDisplayedHallway" />
          </template>
        </div>
      </template>
    </div>
    <div :class="'mapContainer ' + (isPlayerscreen ? 'zoomed' : '')">
      <div v-if="gamestate.displayTitleScreen && isPlayerscreen">
        <img :class="!gamestate.wallMode ? 'rotating' : ''" src="@/assets/gdm_logo.svg" />
      </div>
      <MapDisplay
        v-if="(!gamestate.displayTitleScreen && isPlayerscreen) || !isPlayerscreen"
        @visitHallway="visitHallway"
        @displayShop="displayShop"
        @displayHallway="displayHallway"
        :gamestate="gamestate"
        :isPlayerscreen="isPlayerscreen"
      />
    </div>
    <div class="rightContainer">
      <template v-if="!isPlayerscreen">
        <ToolsButtons
          @rollStrangeObject="rollStrangeObject"
          @rollEncounter="rollEncounter"
          @rollTheme="rollTheme"
          @rollFaction="rollFaction"
          @rollFriendClue="rollFriendClue"
          :gamestate="gamestate"
          :displayShopMode="displayShopMode" />
        <ShopInfos v-if="displayShopMode === 'shop'" :shop="currentlyDisplayedShop"
      /></template>
    </div>
  </main>
  <div class="mobileDisplay">
    <h1>Green Dawn Mall generator</h1>
    <h3>{{ $t('menus.PCOnlyTitle') }}</h3>
    <br /><br />
    <span>{{ $t('menus.GDMGExplained', { interpolation: { escapeValue: false } }) }}</span
    ><a class="gameLink" href="https://comemartin.itch.io/green-dawn-mall-vf" target="_blank">{{
      $t('menus.DiscoverGame')
    }}</a
    ><br /><span>{{ $t('menus.PCOnlyExplained') }}</span>
  </div>
</template>

<style scoped>
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 2fr 1fr;

  .leftContainer {
    h1 {
      color: var(--main-accent-color);
      margin-bottom: 10px;
    }

    .gameLink {
      margin-right: 5px;
    }

    .gm-infos {
      display: flex;
      flex-direction: column;
      height: fit-content;
      overflow-y: auto;
      height: 70vh;
      padding-right: 10px;
    }

    .playerScreenActions {
      margin: 15px 0;
      a {
        margin-right: 5px;
      }
    }
  }
  .mapContainer {
    justify-self: center;
    align-self: center;
    inset: 50%;
    &.zoomed {
      transform: scale(1.45);
    }
    img {
      filter: drop-shadow(7px 5px 17px #95a724);
    }

    .rotating {
      animation: rotating 30s linear infinite;
    }
  }
  .rightContainer {
    display: flex;
    flex-direction: column;
    ShopDetails {
      margin-top: 20px;
    }
  }
}

.mobileDisplay {
  display: none;
}

@media only screen and (max-width: 1100px) {
  main {
    display: none;
  }
  .mobileDisplay {
    h1 {
      color: var(--main-accent-color);
    }
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 5px;
  }
}
</style>
